.addQuestionPage {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .questionForm {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 3rem;
    align-self: center;
    width: 80%;
    
  }

  input{
    height:60px;
    margin-top: 5rem;
  }
  
  .questionForm > input {
    font-size: 1rem;
    padding: 0.4rem;
    width: 100%;
    border-radius: 0.5rem;
  }
  
  
  button{
    margin-top: 20px;
    height:50px;
    width:130px;
    background-color: #3b82f6;
    color:white;
    border-color: #3b82f6;
    border-radius: 10px;
    
    
  }
  