.loginPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .loginPage > h1{
    padding-top: 20px;
  }
  
  .form {

    display: flex;
    flex-direction: column;
    min-width: 20%;
    padding: 2rem 2rem 2rem 2rem;
    row-gap: 2rem;
    border-radius: 1.5rem;
  }
  
  .title {
    align-self: center;
    font-size: 1.4rem;
  }
  
  .form input {
    border-radius: 0.5rem;
    height: 2rem;
    display: block;
    width: 100%;
  }
  
  .form button {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
  }
  input{
    text-align: center;
  }
  label{
    font-size: 20px;
  }
  .loginBtn {
    background-color: #3b82f6;

    color:white;
    
  }
  
  
  .signupLine {
    font-size: 1.5rem;
    align-self: center;
    padding-top: -20px;
  }
  
  .signup {
    color:#3b82f6;

    text-decoration: none;
  }
  
  