

.home {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .home_header{
    color:white;
  }
  .home_header{
    background-color: #3b82f6;
    width:100%;
    border-radius: 20px;
    margin-top: -420px;
  }


  .login_header{
    color:black;
    
  }
  .link > h1 {
    color:black;
  
  }
  .link{
    text-decoration: none;
  }
 
  
  .users {
    display: flex;
    column-gap: 4rem;
  }
  
  .loginType {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 15rem;
    color: white;
    font-size: x-large;
    background-color: var(--button-dark-color);
    border-radius: 1rem;
  }
  
  .loginType:hover {
    background-color: var(--button-light-color);
  }