/* .allExamCards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
    column-gap: 3rem;
    margin: 3.5rem;

  
 
  }
  
  .addTest {
    padding-top: 10px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.75rem;
    height: 10.547rem;
    border-radius: 0.5rem;
    transition-property: all;
    transition-duration: 1s;
  }
  /* .button_name{
    margin-top: 80px;
    margin-left: 100px;
  } */
  /*  */
  /* .addTest:hover {
    cursor: pointer;
    transform: scale(1.2);
  } */ 

  .data_fetch{
    margin-top:40px;
      display: flex;
      justify-content: center;
  }